
$black-darkest: #2D2D2D;
$black-dark: #2E2E2E;
$black: #383838;
$black-light: var(--background-light-color);

$c-btn-green: #07b36c;
$c-btn-border-green: #078350;
$c-btn-blue: #3e6bff;
$c-btn-border-blue: #2f53c6;