.dark {
  --background-darken-color: #343434;
  --background-darkest-color: #313131;
  --background-primary-color: #3d3d3d;
  --background-light-color: #464646;
  --border-light-color: #575757;
  --primary-btn-color: #1493ff;
  
  --sec-btn-color: white;
  --sec-btn-bg: #464646;
  --sec-btn-border-color: #575757;
  --unsplash-btn-bg: #4b4d4d;

  --input-bg: #464646;
  --input-border-color: #575757;
  --input-color: #929292;

  --g-btn-color: #2abe7d;

  --folder-active: #313131;

  --preview-border-color: #575757;

  --bookmark-hover-color: #3d3d3d6b;
  --bookmark-menu-btn-color: #DEDEDE;

  --folder-preview-gap: #343434;

  --primary-text-color: #ffffff;
  --icon-color: #4b4b4b;
  --s-icon-color: #15eaed;
}