.light {
  --background-darken-color: rgb(219, 219, 219);
  --background-darkest-color: #DEDEDE;
  --background-primary-color: white;
  --background-light-color: #93e8ee;
  --border-light-color: #c1fbff;
  --primary-btn-color: #1493ff;

  --sec-btn-color: #9A9A9A;
  --sec-btn-bg: #EAEAEA;
  --sec-btn-border-color: #E8E8E8;
  --unsplash-btn-bg: #EAEAEA;

  --input-bg: #F7F7F7;
  --input-border-color: #F1F1F1;
  --input-color: #969696;

  --g-btn-color: #4CDCAF;

  --folder-active: #f5f5f5;

  --preview-border-color: #DEDEDE;

  --bookmark-hover-color: rgba(255, 255, 255, 0.4);
  --bookmark-menu-btn-color: #424242;

  --folder-preview-gap: #bfbfbf;

  --primary-text-color: black;
  --icon-color: #C2C2C2;
  --s-icon-color: #1493FF;
}