.btn-rounded{
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid;
    cursor: pointer;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 11px 0;
}

.g-btn{
    background: var(--g-btn-color);
    color: white;
    border-radius: 5px;
    font-size: 13px;
    height: 34px;
    padding: 0 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.t-input {
    background: var(--input-bg);
    border: 1px solid var(--input-border-color);
    color: var(--input-color);
    font-size: 12px;
    width: 100%;
    outline: none;
    resize: none;
    font-family: "Didact Gothic";
    box-sizing: border-box;
    padding: 7px 13px;
}


.primary-btn{
    color: white;
    background: var(--primary-btn-color);
    border-radius: 8px;
    width: 90px;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
}

.secondary-btn{
    color: var(--sec-btn-color);
    background: var(--sec-btn-bg);
    border: 1px solid var(--sec-btn-border-color);
    border-radius: 8px;
    width: 90px;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-weight: normal;

    transition: all 0.2s ease;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }
}

@mixin input-range{
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        background: linear-gradient(to bottom,
            transparent 0% 43.75%,
            #9b9b9b 43.75% 56.25%,
            transparent 56.25% 100%,
        );
    }

    &::-webkit-slider-thumb {
         height: 16px;
         width: 16px;
         border-radius: 50%;
         background: #168aec;
         cursor: pointer;
         -webkit-appearance: none;
    }

    &::-ms-track {
        width: 100%;
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }


}

@mixin checkbox{
    height: 8px;
    width: 20px;
    border-radius: 4px;
    background: #9b9b9b;
    position: relative;
    cursor: pointer;

    &:after{
        content: '';
        position: absolute;
        top: -4px;
        left:-4px;
        width: 16px;
        height: 16px;
        background: #168aec;
        border-radius: 50%;
    }
}